@import "charts.css";
#root {
  max-width: 1280px;
  margin: 0 auto;
}

html {
  overscroll-behavior: none;
}

.basic-btn {
  @apply m-3 rounded bg-blue-500 px-3 py-1.5 text-white hover:bg-blue-700 disabled:bg-gray-700 disabled:hover:bg-gray-700;
}

@media only screen and (max-width: 500px) {
  .self-center,
  .self-center .stats {
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
  }
  .self-center .stats .stat {
    padding: 0.6rem 0.3rem;
  }

  .self-center .stats .stat .stat-value {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .latest-tasks-timerange {
    font-size: smaller;
  }
}

/* Data */
.weekdays-chart tbody td,
.monthdays-chart tbody td {
  border-radius: 4px;
  --color: rgb(74, 180, 241);
}

@media (prefers-color-scheme: dark) {
  .weekdays-chart tbody td,
  .monthdays-chart tbody td {
    --color: rgb(0, 69, 198);
  }
}

.entries-page-entry {
  border-top: 1px solid rgba(129, 129, 129, 0.207);
}

.entries-page-entry-btn {
  @apply m-0.5 p-1 rounded
  inline-flex items-center
  text-gray-700 dark:text-gray-300
  disabled:bg-gray-700 disabled:hover:bg-gray-700;

  border: 1px solid rgba(129, 129, 129, 0.507);
}

.entries-page-entry-btn:hover {
  border-color: rgba(129, 129, 129, 0.607);
  background-color: rgba(129, 129, 129, 0.207);
}

.entries-page-entries::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: white 1px solid;
  min-height: 40px;
  background-color: white;
  opacity: 0.7;
}

.entries-page-entries::-webkit-scrollbar {
  width: 8px;
}

.edit-entry-dirty {
  @apply border-r-4 border-orange-300 border-solid h-12 mr-2;
}

.entries-menu {
  @apply max-w-md transform overflow-hidden rounded bg-white dark:bg-slate-700 text-left align-middle shadow-xl transition-all;
}

.entries-menu button {
  @apply flex px-2 py-1.5 w-full;
}

.entries-menu button:hover {
  background-color: rgba(129, 129, 129, 0.3);
}

.entries-menu button .icon {
  @apply m-0.5 w-5;
}
